<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="yyj.dao.OrderListDao">
	<insert id="addOrderList" parameterType="yyj.entity.OrderList">
		insert into t_order_list
		(order_id,thirdpart_order_id,insurance_company,req_branch,compulsory_prop_no,business_prop_no,compulsory_policy_no,business_policy_no,insure_city,car_plate_no,has_plate,total_price,order_status,create_time,update_time)
		values
		(
			<if test="orderId != null">#{orderId},</if>
			<if test="orderId == null">default,</if>
			<if test="thirdpartOrderId != null">#{thirdpartOrderId},</if>
			<if test="thirdpartOrderId == null">default,</if>
			<if test="insuranceCompany != null">#{insuranceCompany},</if>
			<if test="insuranceCompany == null">default,</if>
			<if test="reqBranch != null">#{reqBranch},</if>
			<if test="reqBranch == null">default,</if>
			<if test="compulsoryPropNo != null">#{compulsoryPropNo},</if>
			<if test="compulsoryPropNo == null">default,</if>
			<if test="businessPropNo != null">#{businessPropNo},</if>
			<if test="businessPropNo == null">default,</if>
			<if test="compulsoryPolicyNo != null">#{compulsoryPolicyNo},</if>
			<if test="compulsoryPolicyNo == null">default,</if>
			<if test="businessPolicyNo != null">#{businessPolicyNo},</if>
			<if test="businessPolicyNo == null">default,</if>
			<if test="insureCity != null">#{insureCity},</if>
			<if test="insureCity == null">default,</if>
			<if test="carPlateNo != null">#{carPlateNo},</if>
			<if test="carPlateNo == null">default,</if>
			<if test="hasPlate != null">#{hasPlate},</if>
			<if test="hasPlate == null">default,</if>
			<if test="totalPrice != null">#{totalPrice},</if>
			<if test="totalPrice == null">default,</if>
			<if test="orderStatus != null">#{orderStatus},</if>
			<if test="orderStatus == null">default,</if>
			<if test="createTime != null">#{createTime},</if>
			<if test="createTime == null">default,</if>
			<if test="updateTime != null">#{updateTime},</if>
			<if test="updateTime == null">default,</if>
		)
	</insert>
	<delete id="deleteOrderListByClass" parameterType="yyj.entity.OrderList">
		delete from t_order_list
		<where>
			<if test="orderId != null"> and order_id = #{orderId}  </if>
			<if test="thirdpartOrderId != null"> and thirdpart_order_id = #{thirdpartOrderId}  </if>
			<if test="insuranceCompany != null"> and insurance_company = #{insuranceCompany}  </if>
			<if test="reqBranch != null"> and req_branch = #{reqBranch}  </if>
			<if test="compulsoryPropNo != null"> and compulsory_prop_no = #{compulsoryPropNo}  </if>
			<if test="businessPropNo != null"> and business_prop_no = #{businessPropNo}  </if>
			<if test="compulsoryPolicyNo != null"> and compulsory_policy_no = #{compulsoryPolicyNo}  </if>
			<if test="businessPolicyNo != null"> and business_policy_no = #{businessPolicyNo}  </if>
			<if test="insureCity != null"> and insure_city = #{insureCity}  </if>
			<if test="carPlateNo != null"> and car_plate_no = #{carPlateNo}  </if>
			<if test="hasPlate != null"> and has_plate = #{hasPlate}  </if>
			<if test="totalPrice != null"> and total_price = #{totalPrice}  </if>
			<if test="orderStatus != null"> and order_status = #{orderStatus}  </if>
			<if test="createTime != null"> and create_time = #{createTime}  </if>
			<if test="updateTime != null"> and update_time = #{updateTime}  </if>
		</where>
	</delete>
	<delete id="deleteOrderListByUniqueIndexOnOrderId">
		delete from t_order_list
		<where>
			AND order_id = #{orderId}
		</where>
	</delete>
	<update id="updateOrderListByClass">
		update t_order_list
		<set>
			order_id={orderList.orderId},
			thirdpart_order_id={orderList.thirdpartOrderId},
			insurance_company={orderList.insuranceCompany},
			req_branch={orderList.reqBranch},
			compulsory_prop_no={orderList.compulsoryPropNo},
			business_prop_no={orderList.businessPropNo},
			compulsory_policy_no={orderList.compulsoryPolicyNo},
			business_policy_no={orderList.businessPolicyNo},
			insure_city={orderList.insureCity},
			car_plate_no={orderList.carPlateNo},
			has_plate={orderList.hasPlate},
			total_price={orderList.totalPrice},
			order_status={orderList.orderStatus},
			create_time={orderList.createTime},
			update_time={orderList.updateTime}
		</set>
		<where>
			<if test="orderId != null">order_id = #{param.orderId},</if>
			<if test="thirdpartOrderId != null">thirdpart_order_id = #{param.thirdpartOrderId},</if>
			<if test="insuranceCompany != null">insurance_company = #{param.insuranceCompany},</if>
			<if test="reqBranch != null">req_branch = #{param.reqBranch},</if>
			<if test="compulsoryPropNo != null">compulsory_prop_no = #{param.compulsoryPropNo},</if>
			<if test="businessPropNo != null">business_prop_no = #{param.businessPropNo},</if>
			<if test="compulsoryPolicyNo != null">compulsory_policy_no = #{param.compulsoryPolicyNo},</if>
			<if test="businessPolicyNo != null">business_policy_no = #{param.businessPolicyNo},</if>
			<if test="insureCity != null">insure_city = #{param.insureCity},</if>
			<if test="carPlateNo != null">car_plate_no = #{param.carPlateNo},</if>
			<if test="hasPlate != null">has_plate = #{param.hasPlate},</if>
			<if test="totalPrice != null">total_price = #{param.totalPrice},</if>
			<if test="orderStatus != null">order_status = #{param.orderStatus},</if>
			<if test="createTime != null">create_time = #{param.createTime},</if>
			<if test="updateTime != null">update_time = #{param.updateTime},</if>
		</where>
	</update>
	<update id="updateOrderListByUniqueIndexOnOrderId">
		update t_order_list
		<set>
			order_id={orderList.orderId},
			thirdpart_order_id={orderList.thirdpartOrderId},
			insurance_company={orderList.insuranceCompany},
			req_branch={orderList.reqBranch},
			compulsory_prop_no={orderList.compulsoryPropNo},
			business_prop_no={orderList.businessPropNo},
			compulsory_policy_no={orderList.compulsoryPolicyNo},
			business_policy_no={orderList.businessPolicyNo},
			insure_city={orderList.insureCity},
			car_plate_no={orderList.carPlateNo},
			has_plate={orderList.hasPlate},
			total_price={orderList.totalPrice},
			order_status={orderList.orderStatus},
			create_time={orderList.createTime},
			update_time={orderList.updateTime}
		</set>
		<where>
			AND order_id={orderId}
		</where>
	</update>
	<select id="selectOrderListByClass" resultMap="orderListMap"  resultType="yyj.entity.OrderList" parameterType="yyj.entity.OrderList">
		select
			order_id,thirdpart_order_id,insurance_company,req_branch,compulsory_prop_no,business_prop_no,compulsory_policy_no,business_policy_no,insure_city,car_plate_no,has_plate,total_price,order_status,create_time,update_time
		from t_order_list
		<where>
			<if test="orderId != null">order_id = #{orderId},</if>
			<if test="thirdpartOrderId != null">thirdpart_order_id = #{thirdpartOrderId},</if>
			<if test="insuranceCompany != null">insurance_company = #{insuranceCompany},</if>
			<if test="reqBranch != null">req_branch = #{reqBranch},</if>
			<if test="compulsoryPropNo != null">compulsory_prop_no = #{compulsoryPropNo},</if>
			<if test="businessPropNo != null">business_prop_no = #{businessPropNo},</if>
			<if test="compulsoryPolicyNo != null">compulsory_policy_no = #{compulsoryPolicyNo},</if>
			<if test="businessPolicyNo != null">business_policy_no = #{businessPolicyNo},</if>
			<if test="insureCity != null">insure_city = #{insureCity},</if>
			<if test="carPlateNo != null">car_plate_no = #{carPlateNo},</if>
			<if test="hasPlate != null">has_plate = #{hasPlate},</if>
			<if test="totalPrice != null">total_price = #{totalPrice},</if>
			<if test="orderStatus != null">order_status = #{orderStatus},</if>
			<if test="createTime != null">create_time = #{createTime},</if>
			<if test="updateTime != null">update_time = #{updateTime},</if>
		</where>
	</select>
	<select id="selectOrderListByUniqueIndexOnOrderId" resultType="yyj.entity.OrderList" resultMap="orderListMap" >
		select
			order_id,thirdpart_order_id,insurance_company,req_branch,compulsory_prop_no,business_prop_no,compulsory_policy_no,business_policy_no,insure_city,car_plate_no,has_plate,total_price,order_status,create_time,update_time
		from t_order_list
		<where>
			AND order_id={orderId}
		</where>
	</select>
	<resultMap id="orderListMap" type="yyj.entity.OrderList">
		<result property="orderId" 			column="order_id"></result>
		<result property="thirdpartOrderId" 			column="thirdpart_order_id"></result>
		<result property="insuranceCompany" 			column="insurance_company"></result>
		<result property="reqBranch" 			column="req_branch"></result>
		<result property="compulsoryPropNo" 			column="compulsory_prop_no"></result>
		<result property="businessPropNo" 			column="business_prop_no"></result>
		<result property="compulsoryPolicyNo" 			column="compulsory_policy_no"></result>
		<result property="businessPolicyNo" 			column="business_policy_no"></result>
		<result property="insureCity" 			column="insure_city"></result>
		<result property="carPlateNo" 			column="car_plate_no"></result>
		<result property="hasPlate" 			column="has_plate"></result>
		<result property="totalPrice" 			column="total_price"></result>
		<result property="orderStatus" 			column="order_status"></result>
		<result property="createTime" 			column="create_time"></result>
		<result property="updateTime" 			column="update_time"></result>
	</resultMap>
</mapper>
