<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="yyj.dao.TestTypeDao">
	<insert id="addTestType" parameterType="yyj.entity.TestType">
		insert into test_type
		(t_tinyint,t_smallint,t_mediumint,t_int,t_integer,t_bigint,t_bit,t_real,t_double,t_float,t_numeric,t_char,t_varchar,t_date,t_time,t_year,t_timestamp,t_datetime,t_tinyblob,t_blob,t_mediumblob,t_longblob,t_tinytext,t_text,t_mediumtext,t_longtext,t_enum,t_set,t_binary,t_varbinary,t_point,t_linestring,t_polygon,t_geometry,t_multipoint,t_multilinestring,t_multipolygon,t_geometrycollection,t_json,t_deciaml)
		values
		(
			<if test="tTinyint != null">#{tTinyint},</if>
			<if test="tTinyint == null">default,</if>
			<if test="tSmallint != null">#{tSmallint},</if>
			<if test="tSmallint == null">default,</if>
			<if test="tMediumint != null">#{tMediumint},</if>
			<if test="tMediumint == null">default,</if>
			<if test="tInt != null">#{tInt},</if>
			<if test="tInt == null">default,</if>
			#{tInteger},#{tBigint},#{tBit},#{tReal},#{tDouble},#{tFloat},#{tNumeric},#{tChar},#{tVarchar},#{tDate},#{tTime},#{tYear},#{tTimestamp},#{tDatetime},#{tTinyblob},#{tBlob},#{tMediumblob},#{tLongblob},#{tTinytext},#{tText},#{tMediumtext},#{tLongtext},#{tEnum},#{tSet},#{tBinary},#{tVarbinary},#{tPoint},#{tLinestring},#{tPolygon},#{tGeometry},#{tMultipoint},#{tMultilinestring},#{tMultipolygon},#{tGeometrycollection},#{tJson},#{tDeciaml}
		)
	</insert>
	<delete id="deleteTestTypeByClass" parameterType="yyj.entity.TestType">
		delete from test_type
		<where>
			<if test="tTinyint != null"> and t_tinyint = #{tTinyint}  </if>
			<if test="tSmallint != null"> and t_smallint = #{tSmallint}  </if>
			<if test="tMediumint != null"> and t_mediumint = #{tMediumint}  </if>
			<if test="tInt != null"> and t_int = #{tInt}  </if>
			<if test="tInteger != null"> and t_integer = #{tInteger}  </if>
			<if test="tBigint != null"> and t_bigint = #{tBigint}  </if>
			<if test="tBit != null"> and t_bit = #{tBit}  </if>
			<if test="tReal != null"> and t_real = #{tReal}  </if>
			<if test="tDouble != null"> and t_double = #{tDouble}  </if>
			<if test="tFloat != null"> and t_float = #{tFloat}  </if>
			<if test="tNumeric != null"> and t_numeric = #{tNumeric}  </if>
			<if test="tChar != null"> and t_char = #{tChar}  </if>
			<if test="tVarchar != null"> and t_varchar = #{tVarchar}  </if>
			<if test="tDate != null"> and t_date = #{tDate}  </if>
			<if test="tTime != null"> and t_time = #{tTime}  </if>
			<if test="tYear != null"> and t_year = #{tYear}  </if>
			<if test="tTimestamp != null"> and t_timestamp = #{tTimestamp}  </if>
			<if test="tDatetime != null"> and t_datetime = #{tDatetime}  </if>
			<if test="tTinyblob != null"> and t_tinyblob = #{tTinyblob}  </if>
			<if test="tBlob != null"> and t_blob = #{tBlob}  </if>
			<if test="tMediumblob != null"> and t_mediumblob = #{tMediumblob}  </if>
			<if test="tLongblob != null"> and t_longblob = #{tLongblob}  </if>
			<if test="tTinytext != null"> and t_tinytext = #{tTinytext}  </if>
			<if test="tText != null"> and t_text = #{tText}  </if>
			<if test="tMediumtext != null"> and t_mediumtext = #{tMediumtext}  </if>
			<if test="tLongtext != null"> and t_longtext = #{tLongtext}  </if>
			<if test="tEnum != null"> and t_enum = #{tEnum}  </if>
			<if test="tSet != null"> and t_set = #{tSet}  </if>
			<if test="tBinary != null"> and t_binary = #{tBinary}  </if>
			<if test="tVarbinary != null"> and t_varbinary = #{tVarbinary}  </if>
			<if test="tPoint != null"> and t_point = #{tPoint}  </if>
			<if test="tLinestring != null"> and t_linestring = #{tLinestring}  </if>
			<if test="tPolygon != null"> and t_polygon = #{tPolygon}  </if>
			<if test="tGeometry != null"> and t_geometry = #{tGeometry}  </if>
			<if test="tMultipoint != null"> and t_multipoint = #{tMultipoint}  </if>
			<if test="tMultilinestring != null"> and t_multilinestring = #{tMultilinestring}  </if>
			<if test="tMultipolygon != null"> and t_multipolygon = #{tMultipolygon}  </if>
			<if test="tGeometrycollection != null"> and t_geometrycollection = #{tGeometrycollection}  </if>
			<if test="tJson != null"> and t_json = #{tJson}  </if>
			<if test="tDeciaml != null"> and t_deciaml = #{tDeciaml}  </if>
		</where>
	</delete>
	<delete id="deleteTestTypeByPkTInt" parameterType="java.lang.Integer">
		delete from test_type
		<where>
			t_int={TInt}
		</where>
	</delete>
	<delete id="deleteTestTypeByPkTMediumint" parameterType="java.lang.Integer">
		delete from test_type
		<where>
			t_mediumint={TMediumint}
		</where>
	</delete>
	<delete id="deleteTestTypeByPkTSmallint" parameterType="java.lang.Integer">
		delete from test_type
		<where>
			t_smallint={TSmallint}
		</where>
	</delete>
	<delete id="deleteTestTypeByPkTTinyint" parameterType="java.lang.Integer">
		delete from test_type
		<where>
			t_tinyint={TTinyint}
		</where>
	</delete>
	<update id="updateTestTypeByClass">
		update test_type
		<set>
			t_tinyint={testType.tTinyint},
			t_smallint={testType.tSmallint},
			t_mediumint={testType.tMediumint},
			t_int={testType.tInt},
			t_integer={testType.tInteger},
			t_bigint={testType.tBigint},
			t_bit={testType.tBit},
			t_real={testType.tReal},
			t_double={testType.tDouble},
			t_float={testType.tFloat},
			t_numeric={testType.tNumeric},
			t_char={testType.tChar},
			t_varchar={testType.tVarchar},
			t_date={testType.tDate},
			t_time={testType.tTime},
			t_year={testType.tYear},
			t_timestamp={testType.tTimestamp},
			t_datetime={testType.tDatetime},
			t_tinyblob={testType.tTinyblob},
			t_blob={testType.tBlob},
			t_mediumblob={testType.tMediumblob},
			t_longblob={testType.tLongblob},
			t_tinytext={testType.tTinytext},
			t_text={testType.tText},
			t_mediumtext={testType.tMediumtext},
			t_longtext={testType.tLongtext},
			t_enum={testType.tEnum},
			t_set={testType.tSet},
			t_binary={testType.tBinary},
			t_varbinary={testType.tVarbinary},
			t_point={testType.tPoint},
			t_linestring={testType.tLinestring},
			t_polygon={testType.tPolygon},
			t_geometry={testType.tGeometry},
			t_multipoint={testType.tMultipoint},
			t_multilinestring={testType.tMultilinestring},
			t_multipolygon={testType.tMultipolygon},
			t_geometrycollection={testType.tGeometrycollection},
			t_json={testType.tJson},
			t_deciaml={testType.tDeciaml}
		</set>
		<where>
			<if test="tTinyint != null">t_tinyint = #{param.tTinyint},</if>
			<if test="tSmallint != null">t_smallint = #{param.tSmallint},</if>
			<if test="tMediumint != null">t_mediumint = #{param.tMediumint},</if>
			<if test="tInt != null">t_int = #{param.tInt},</if>
			<if test="tInteger != null">t_integer = #{param.tInteger},</if>
			<if test="tBigint != null">t_bigint = #{param.tBigint},</if>
			<if test="tBit != null">t_bit = #{param.tBit},</if>
			<if test="tReal != null">t_real = #{param.tReal},</if>
			<if test="tDouble != null">t_double = #{param.tDouble},</if>
			<if test="tFloat != null">t_float = #{param.tFloat},</if>
			<if test="tNumeric != null">t_numeric = #{param.tNumeric},</if>
			<if test="tChar != null">t_char = #{param.tChar},</if>
			<if test="tVarchar != null">t_varchar = #{param.tVarchar},</if>
			<if test="tDate != null">t_date = #{param.tDate},</if>
			<if test="tTime != null">t_time = #{param.tTime},</if>
			<if test="tYear != null">t_year = #{param.tYear},</if>
			<if test="tTimestamp != null">t_timestamp = #{param.tTimestamp},</if>
			<if test="tDatetime != null">t_datetime = #{param.tDatetime},</if>
			<if test="tTinyblob != null">t_tinyblob = #{param.tTinyblob},</if>
			<if test="tBlob != null">t_blob = #{param.tBlob},</if>
			<if test="tMediumblob != null">t_mediumblob = #{param.tMediumblob},</if>
			<if test="tLongblob != null">t_longblob = #{param.tLongblob},</if>
			<if test="tTinytext != null">t_tinytext = #{param.tTinytext},</if>
			<if test="tText != null">t_text = #{param.tText},</if>
			<if test="tMediumtext != null">t_mediumtext = #{param.tMediumtext},</if>
			<if test="tLongtext != null">t_longtext = #{param.tLongtext},</if>
			<if test="tEnum != null">t_enum = #{param.tEnum},</if>
			<if test="tSet != null">t_set = #{param.tSet},</if>
			<if test="tBinary != null">t_binary = #{param.tBinary},</if>
			<if test="tVarbinary != null">t_varbinary = #{param.tVarbinary},</if>
			<if test="tPoint != null">t_point = #{param.tPoint},</if>
			<if test="tLinestring != null">t_linestring = #{param.tLinestring},</if>
			<if test="tPolygon != null">t_polygon = #{param.tPolygon},</if>
			<if test="tGeometry != null">t_geometry = #{param.tGeometry},</if>
			<if test="tMultipoint != null">t_multipoint = #{param.tMultipoint},</if>
			<if test="tMultilinestring != null">t_multilinestring = #{param.tMultilinestring},</if>
			<if test="tMultipolygon != null">t_multipolygon = #{param.tMultipolygon},</if>
			<if test="tGeometrycollection != null">t_geometrycollection = #{param.tGeometrycollection},</if>
			<if test="tJson != null">t_json = #{param.tJson},</if>
			<if test="tDeciaml != null">t_deciaml = #{param.tDeciaml},</if>
		</where>
	</update>
	<update id="updateTestTypeByPkTInt" parameterType="java.lang.Integer">
		update test_type
		<set>
			t_tinyint={testType.tTinyint},
			t_smallint={testType.tSmallint},
			t_mediumint={testType.tMediumint},
			t_int={testType.tInt},
			t_integer={testType.tInteger},
			t_bigint={testType.tBigint},
			t_bit={testType.tBit},
			t_real={testType.tReal},
			t_double={testType.tDouble},
			t_float={testType.tFloat},
			t_numeric={testType.tNumeric},
			t_char={testType.tChar},
			t_varchar={testType.tVarchar},
			t_date={testType.tDate},
			t_time={testType.tTime},
			t_year={testType.tYear},
			t_timestamp={testType.tTimestamp},
			t_datetime={testType.tDatetime},
			t_tinyblob={testType.tTinyblob},
			t_blob={testType.tBlob},
			t_mediumblob={testType.tMediumblob},
			t_longblob={testType.tLongblob},
			t_tinytext={testType.tTinytext},
			t_text={testType.tText},
			t_mediumtext={testType.tMediumtext},
			t_longtext={testType.tLongtext},
			t_enum={testType.tEnum},
			t_set={testType.tSet},
			t_binary={testType.tBinary},
			t_varbinary={testType.tVarbinary},
			t_point={testType.tPoint},
			t_linestring={testType.tLinestring},
			t_polygon={testType.tPolygon},
			t_geometry={testType.tGeometry},
			t_multipoint={testType.tMultipoint},
			t_multilinestring={testType.tMultilinestring},
			t_multipolygon={testType.tMultipolygon},
			t_geometrycollection={testType.tGeometrycollection},
			t_json={testType.tJson},
			t_deciaml={testType.tDeciaml}
		</set>
		<where>
			t_int={TInt}
		</where>
	</update>
	<update id="updateTestTypeByPkTMediumint" parameterType="java.lang.Integer">
		update test_type
		<set>
			t_tinyint={testType.tTinyint},
			t_smallint={testType.tSmallint},
			t_mediumint={testType.tMediumint},
			t_int={testType.tInt},
			t_integer={testType.tInteger},
			t_bigint={testType.tBigint},
			t_bit={testType.tBit},
			t_real={testType.tReal},
			t_double={testType.tDouble},
			t_float={testType.tFloat},
			t_numeric={testType.tNumeric},
			t_char={testType.tChar},
			t_varchar={testType.tVarchar},
			t_date={testType.tDate},
			t_time={testType.tTime},
			t_year={testType.tYear},
			t_timestamp={testType.tTimestamp},
			t_datetime={testType.tDatetime},
			t_tinyblob={testType.tTinyblob},
			t_blob={testType.tBlob},
			t_mediumblob={testType.tMediumblob},
			t_longblob={testType.tLongblob},
			t_tinytext={testType.tTinytext},
			t_text={testType.tText},
			t_mediumtext={testType.tMediumtext},
			t_longtext={testType.tLongtext},
			t_enum={testType.tEnum},
			t_set={testType.tSet},
			t_binary={testType.tBinary},
			t_varbinary={testType.tVarbinary},
			t_point={testType.tPoint},
			t_linestring={testType.tLinestring},
			t_polygon={testType.tPolygon},
			t_geometry={testType.tGeometry},
			t_multipoint={testType.tMultipoint},
			t_multilinestring={testType.tMultilinestring},
			t_multipolygon={testType.tMultipolygon},
			t_geometrycollection={testType.tGeometrycollection},
			t_json={testType.tJson},
			t_deciaml={testType.tDeciaml}
		</set>
		<where>
			t_mediumint={TMediumint}
		</where>
	</update>
	<update id="updateTestTypeByPkTSmallint" parameterType="java.lang.Integer">
		update test_type
		<set>
			t_tinyint={testType.tTinyint},
			t_smallint={testType.tSmallint},
			t_mediumint={testType.tMediumint},
			t_int={testType.tInt},
			t_integer={testType.tInteger},
			t_bigint={testType.tBigint},
			t_bit={testType.tBit},
			t_real={testType.tReal},
			t_double={testType.tDouble},
			t_float={testType.tFloat},
			t_numeric={testType.tNumeric},
			t_char={testType.tChar},
			t_varchar={testType.tVarchar},
			t_date={testType.tDate},
			t_time={testType.tTime},
			t_year={testType.tYear},
			t_timestamp={testType.tTimestamp},
			t_datetime={testType.tDatetime},
			t_tinyblob={testType.tTinyblob},
			t_blob={testType.tBlob},
			t_mediumblob={testType.tMediumblob},
			t_longblob={testType.tLongblob},
			t_tinytext={testType.tTinytext},
			t_text={testType.tText},
			t_mediumtext={testType.tMediumtext},
			t_longtext={testType.tLongtext},
			t_enum={testType.tEnum},
			t_set={testType.tSet},
			t_binary={testType.tBinary},
			t_varbinary={testType.tVarbinary},
			t_point={testType.tPoint},
			t_linestring={testType.tLinestring},
			t_polygon={testType.tPolygon},
			t_geometry={testType.tGeometry},
			t_multipoint={testType.tMultipoint},
			t_multilinestring={testType.tMultilinestring},
			t_multipolygon={testType.tMultipolygon},
			t_geometrycollection={testType.tGeometrycollection},
			t_json={testType.tJson},
			t_deciaml={testType.tDeciaml}
		</set>
		<where>
			t_smallint={TSmallint}
		</where>
	</update>
	<update id="updateTestTypeByPkTTinyint" parameterType="java.lang.Integer">
		update test_type
		<set>
			t_tinyint={testType.tTinyint},
			t_smallint={testType.tSmallint},
			t_mediumint={testType.tMediumint},
			t_int={testType.tInt},
			t_integer={testType.tInteger},
			t_bigint={testType.tBigint},
			t_bit={testType.tBit},
			t_real={testType.tReal},
			t_double={testType.tDouble},
			t_float={testType.tFloat},
			t_numeric={testType.tNumeric},
			t_char={testType.tChar},
			t_varchar={testType.tVarchar},
			t_date={testType.tDate},
			t_time={testType.tTime},
			t_year={testType.tYear},
			t_timestamp={testType.tTimestamp},
			t_datetime={testType.tDatetime},
			t_tinyblob={testType.tTinyblob},
			t_blob={testType.tBlob},
			t_mediumblob={testType.tMediumblob},
			t_longblob={testType.tLongblob},
			t_tinytext={testType.tTinytext},
			t_text={testType.tText},
			t_mediumtext={testType.tMediumtext},
			t_longtext={testType.tLongtext},
			t_enum={testType.tEnum},
			t_set={testType.tSet},
			t_binary={testType.tBinary},
			t_varbinary={testType.tVarbinary},
			t_point={testType.tPoint},
			t_linestring={testType.tLinestring},
			t_polygon={testType.tPolygon},
			t_geometry={testType.tGeometry},
			t_multipoint={testType.tMultipoint},
			t_multilinestring={testType.tMultilinestring},
			t_multipolygon={testType.tMultipolygon},
			t_geometrycollection={testType.tGeometrycollection},
			t_json={testType.tJson},
			t_deciaml={testType.tDeciaml}
		</set>
		<where>
			t_tinyint={TTinyint}
		</where>
	</update>
	<select id="selectTestTypeByClass" resultMap="testTypeMap"  resultType="yyj.entity.TestType" parameterType="yyj.entity.TestType">
		select
			t_tinyint,t_smallint,t_mediumint,t_int,t_integer,t_bigint,t_bit,t_real,t_double,t_float,t_numeric,t_char,t_varchar,t_date,t_time,t_year,t_timestamp,t_datetime,t_tinyblob,t_blob,t_mediumblob,t_longblob,t_tinytext,t_text,t_mediumtext,t_longtext,t_enum,t_set,t_binary,t_varbinary,t_point,t_linestring,t_polygon,t_geometry,t_multipoint,t_multilinestring,t_multipolygon,t_geometrycollection,t_json,t_deciaml
		from test_type
		<where>
			<if test="tTinyint != null">t_tinyint = #{tTinyint},</if>
			<if test="tSmallint != null">t_smallint = #{tSmallint},</if>
			<if test="tMediumint != null">t_mediumint = #{tMediumint},</if>
			<if test="tInt != null">t_int = #{tInt},</if>
			<if test="tInteger != null">t_integer = #{tInteger},</if>
			<if test="tBigint != null">t_bigint = #{tBigint},</if>
			<if test="tBit != null">t_bit = #{tBit},</if>
			<if test="tReal != null">t_real = #{tReal},</if>
			<if test="tDouble != null">t_double = #{tDouble},</if>
			<if test="tFloat != null">t_float = #{tFloat},</if>
			<if test="tNumeric != null">t_numeric = #{tNumeric},</if>
			<if test="tChar != null">t_char = #{tChar},</if>
			<if test="tVarchar != null">t_varchar = #{tVarchar},</if>
			<if test="tDate != null">t_date = #{tDate},</if>
			<if test="tTime != null">t_time = #{tTime},</if>
			<if test="tYear != null">t_year = #{tYear},</if>
			<if test="tTimestamp != null">t_timestamp = #{tTimestamp},</if>
			<if test="tDatetime != null">t_datetime = #{tDatetime},</if>
			<if test="tTinyblob != null">t_tinyblob = #{tTinyblob},</if>
			<if test="tBlob != null">t_blob = #{tBlob},</if>
			<if test="tMediumblob != null">t_mediumblob = #{tMediumblob},</if>
			<if test="tLongblob != null">t_longblob = #{tLongblob},</if>
			<if test="tTinytext != null">t_tinytext = #{tTinytext},</if>
			<if test="tText != null">t_text = #{tText},</if>
			<if test="tMediumtext != null">t_mediumtext = #{tMediumtext},</if>
			<if test="tLongtext != null">t_longtext = #{tLongtext},</if>
			<if test="tEnum != null">t_enum = #{tEnum},</if>
			<if test="tSet != null">t_set = #{tSet},</if>
			<if test="tBinary != null">t_binary = #{tBinary},</if>
			<if test="tVarbinary != null">t_varbinary = #{tVarbinary},</if>
			<if test="tPoint != null">t_point = #{tPoint},</if>
			<if test="tLinestring != null">t_linestring = #{tLinestring},</if>
			<if test="tPolygon != null">t_polygon = #{tPolygon},</if>
			<if test="tGeometry != null">t_geometry = #{tGeometry},</if>
			<if test="tMultipoint != null">t_multipoint = #{tMultipoint},</if>
			<if test="tMultilinestring != null">t_multilinestring = #{tMultilinestring},</if>
			<if test="tMultipolygon != null">t_multipolygon = #{tMultipolygon},</if>
			<if test="tGeometrycollection != null">t_geometrycollection = #{tGeometrycollection},</if>
			<if test="tJson != null">t_json = #{tJson},</if>
			<if test="tDeciaml != null">t_deciaml = #{tDeciaml},</if>
		</where>
	</select>
	<select id="selectTestTypeByPkTInt"  resultMap="testTypeMap"  resultType="yyj.entity.TestType" parameterType="java.lang.Integer">
		select
			t_tinyint,t_smallint,t_mediumint,t_int,t_integer,t_bigint,t_bit,t_real,t_double,t_float,t_numeric,t_char,t_varchar,t_date,t_time,t_year,t_timestamp,t_datetime,t_tinyblob,t_blob,t_mediumblob,t_longblob,t_tinytext,t_text,t_mediumtext,t_longtext,t_enum,t_set,t_binary,t_varbinary,t_point,t_linestring,t_polygon,t_geometry,t_multipoint,t_multilinestring,t_multipolygon,t_geometrycollection,t_json,t_deciaml
		from test_type
		<where>
			t_int={TInt}
		</where>
	</select>
	<select id="selectTestTypeByPkTMediumint"  resultMap="testTypeMap"  resultType="yyj.entity.TestType" parameterType="java.lang.Integer">
		select
			t_tinyint,t_smallint,t_mediumint,t_int,t_integer,t_bigint,t_bit,t_real,t_double,t_float,t_numeric,t_char,t_varchar,t_date,t_time,t_year,t_timestamp,t_datetime,t_tinyblob,t_blob,t_mediumblob,t_longblob,t_tinytext,t_text,t_mediumtext,t_longtext,t_enum,t_set,t_binary,t_varbinary,t_point,t_linestring,t_polygon,t_geometry,t_multipoint,t_multilinestring,t_multipolygon,t_geometrycollection,t_json,t_deciaml
		from test_type
		<where>
			t_mediumint={TMediumint}
		</where>
	</select>
	<select id="selectTestTypeByPkTSmallint"  resultMap="testTypeMap"  resultType="yyj.entity.TestType" parameterType="java.lang.Integer">
		select
			t_tinyint,t_smallint,t_mediumint,t_int,t_integer,t_bigint,t_bit,t_real,t_double,t_float,t_numeric,t_char,t_varchar,t_date,t_time,t_year,t_timestamp,t_datetime,t_tinyblob,t_blob,t_mediumblob,t_longblob,t_tinytext,t_text,t_mediumtext,t_longtext,t_enum,t_set,t_binary,t_varbinary,t_point,t_linestring,t_polygon,t_geometry,t_multipoint,t_multilinestring,t_multipolygon,t_geometrycollection,t_json,t_deciaml
		from test_type
		<where>
			t_smallint={TSmallint}
		</where>
	</select>
	<select id="selectTestTypeByPkTTinyint"  resultMap="testTypeMap"  resultType="yyj.entity.TestType" parameterType="java.lang.Integer">
		select
			t_tinyint,t_smallint,t_mediumint,t_int,t_integer,t_bigint,t_bit,t_real,t_double,t_float,t_numeric,t_char,t_varchar,t_date,t_time,t_year,t_timestamp,t_datetime,t_tinyblob,t_blob,t_mediumblob,t_longblob,t_tinytext,t_text,t_mediumtext,t_longtext,t_enum,t_set,t_binary,t_varbinary,t_point,t_linestring,t_polygon,t_geometry,t_multipoint,t_multilinestring,t_multipolygon,t_geometrycollection,t_json,t_deciaml
		from test_type
		<where>
			t_tinyint={TTinyint}
		</where>
	</select>
	<resultMap id="testTypeMap" type="yyj.entity.TestType">
		<result property="tTinyint" 			column="t_tinyint"></result>
		<result property="tSmallint" 			column="t_smallint"></result>
		<result property="tMediumint" 			column="t_mediumint"></result>
		<result property="tInt" 			column="t_int"></result>
		<result property="tInteger" 			column="t_integer"></result>
		<result property="tBigint" 			column="t_bigint"></result>
		<result property="tBit" 			column="t_bit"></result>
		<result property="tReal" 			column="t_real"></result>
		<result property="tDouble" 			column="t_double"></result>
		<result property="tFloat" 			column="t_float"></result>
		<result property="tNumeric" 			column="t_numeric"></result>
		<result property="tChar" 			column="t_char"></result>
		<result property="tVarchar" 			column="t_varchar"></result>
		<result property="tDate" 			column="t_date"></result>
		<result property="tTime" 			column="t_time"></result>
		<result property="tYear" 			column="t_year"></result>
		<result property="tTimestamp" 			column="t_timestamp"></result>
		<result property="tDatetime" 			column="t_datetime"></result>
		<result property="tTinyblob" 			column="t_tinyblob"></result>
		<result property="tBlob" 			column="t_blob"></result>
		<result property="tMediumblob" 			column="t_mediumblob"></result>
		<result property="tLongblob" 			column="t_longblob"></result>
		<result property="tTinytext" 			column="t_tinytext"></result>
		<result property="tText" 			column="t_text"></result>
		<result property="tMediumtext" 			column="t_mediumtext"></result>
		<result property="tLongtext" 			column="t_longtext"></result>
		<result property="tEnum" 			column="t_enum"></result>
		<result property="tSet" 			column="t_set"></result>
		<result property="tBinary" 			column="t_binary"></result>
		<result property="tVarbinary" 			column="t_varbinary"></result>
		<result property="tPoint" 			column="t_point"></result>
		<result property="tLinestring" 			column="t_linestring"></result>
		<result property="tPolygon" 			column="t_polygon"></result>
		<result property="tGeometry" 			column="t_geometry"></result>
		<result property="tMultipoint" 			column="t_multipoint"></result>
		<result property="tMultilinestring" 			column="t_multilinestring"></result>
		<result property="tMultipolygon" 			column="t_multipolygon"></result>
		<result property="tGeometrycollection" 			column="t_geometrycollection"></result>
		<result property="tJson" 			column="t_json"></result>
		<result property="tDeciaml" 			column="t_deciaml"></result>
	</resultMap>
</mapper>
